*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# stuff that can contain passwords
jabbot.json
saved_values.ini

# Maven
log/
target/

#debian
build/
build-arch-stamp
debian/files
debian/jabbot.debhelper.log
debian/jabbot.postinst.debhelper
debian/jabbot.postrm.debhelper
debian/jabbot.prerm.debhelper
debian/jabbot.substvars
debian/jabbot/

