Source: jabbot
Priority: optional
Maintainer: Torrey Searle <tsearle@gmail.com>
Build-Depends: debhelper (>> 7), javahelper, maven2, libxml-xpath-perl
Build-Depends-Indep: default-jdk
Standards-Version: 3.8.0
Section: contrib/comm

Package: jabbot
Architecture: all
Depends: ${misc:Depends},
         default-jre-headless,
	 perl,
	 libjson-perl,
	 libconfig-simple-perl,
	 libwww-perl,
	 liburi-encode-perl
Description: Midori is a multi-protocol bot that can be easily
 Extended with plugins and is highly scriptable.

