Source: jabbot
Priority: optional
Maintainer: Torrey Searle <tsearle@gmail.com>
Build-Depends: debhelper (>> 7), javahelper, maven, libxml-xpath-perl
Build-Depends-Indep: default-jdk
Standards-Version: 3.8.0
Section: contrib/comm

Package: jabbot
Architecture: all
Depends: ${misc:Depends},
         default-jre-headless,
	 perl,
	 libjson-perl,
	 libconfig-simple-perl,
	 libwww-perl,
	 liburi-encode-perl
Description: Midori is a multi-protocol bot that can be easily
 Extended with plugins and is highly scriptable.

Package: jabbot-full
Architecture: all
Depends: jabbot,
         jabbot-xmpp-binding,
	 jabbot-spark-binding,
	 jabbot-irc-binding,
	 jabbot-slack-binding,
	 jabbot-discord-binding,
	 jabbot-matrix-binding,
	 jabbot-chuck-icndb-command,
	 jabbot-base-command,
	 jabbot-foaas-command,
	 jabbot-script-command,
	 jabbot-jira-command,
	 jabbot-translate-command,
	 jabbot-propaganda-command,
	 jabbot-dice-command,
	 jabbot-cgi-command,
	 jabbot-cgi-scripts
Description: Virtual package to install jabbot with all of its plugins
 in an easy way


Package: jabbot-xmpp-binding
Architecture: all
Depends: ${misc:Depends},jabbot
Description: XMPP binding for jabbot

Package: jabbot-spark-binding
Architecture: all
Depends: ${misc:Depends},jabbot
Description: Cisco SPARK binding for jabbot

Package: jabbot-irc-binding
Architecture: all
Depends: ${misc:Depends},jabbot
Description: IRC binding for jabbot

Package: jabbot-cli-binding
Architecture: all
Depends: ${misc:Depends},jabbot
Description: CLI binding for jabbot

Package: jabbot-slack-binding
Architecture: all
Depends: ${misc:Depends},jabbot
Description: SLACK binding for jabbot

Package: jabbot-matrix-binding
Architecture: all
Depends: ${misc:Depends},jabbot
Description: MATRIX binding for jabbot

Package: jabbot-chuck-icndb-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: icndb.com command for jabbot

Package: jabbot-base-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: base command set for jabbot such like help, uptime, version

Package: jabbot-foaas-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: foaas.com command for jabbot

Package: jabbot-script-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: jabbot scripting commands

Package: jabbot-jira-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: jira commands for jabbot

Package: jabbot-translate-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: translate commands for jabbot

Package: jabbot-propaganda-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: propaganda command for jabbot

Package: jabbot-dice-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: dice command for jabbot

Package: jabbot-cgi-command
Architecture: all
Depends: ${misc:Depends},jabbot
Description: cgi integration command for jabbot

Package: jabbot-cgi-scripts
Architecture: all
Depends: ${misc:Depends},jabbot-cgi-command
Description: base scripts using jabbot-cgi


