Package: jabbot
Version: 0.3
Architecture: all
Maintainer: Torrey Searle <tsearle@gmail.com>
Installed-Size: 4266
Depends: default-jre-headless
Section: contrib/comm
Priority: optional
Description: Midori is a multi-protocol bot that can be easily
 Extended with plugins and is highly scriptable.
